body {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .navbar {
    background-color: #84d154;
    height: 2.5cm;
    width: auto;
    padding-top: 0.7cm;

  }

  .titulocentral a.link {
    text-decoration: none;
    font-size: 0.7cm;
    color: #513d2f;
    font-weight: bold;
    text-align: center;
    padding-left: 50%;

  }

  .titulocentral p.subtitulo {
    text-decoration: none;
    font-size: 0.5cm;
    padding-top: 0cm;
    color: #513d2f;
    font-weight: bold;
    margin-top: 0cm;
    padding-left: 49%;


  }